<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div> Register </div>
    <div> {{ msg }} </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <input type="text" name="username" placeholder="Enter your username" class="textbox" id="username" required>
        <input type="password" name="password" placeholder="Enter your password" class="textbox" id="password" required>
        <input type="submit" class="btn" value="Register">
        <p>login <a href="{{ url_for('login') }}">here</a> if already have an account.</p>
    </form>
</body>
</html>