body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#mybox {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5rem;
    position: absolute;
}

#controls {
    position: fixed;
    bottom: 15%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#up-down-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#up-down-buttons{
    padding: 0 10%;
}
#left-right-buttons {
    flex-direction: row;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}


@media (max-width: 600px) {
    #controls {
        flex-direction: row-reverse;
        align-items: center;
    }
    
    #up-down-buttons, #left-right-buttons {
        flex-direction: row;
    }
    
    #up-down-buttons {
        order: 2;
    }

    #left-right-buttons {
        order: 1;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #mybox {
        width: 150px;
        height: 150px;
        font-size: 5rem;
    }
}

@media (max-width: 400px) {
    #mybox {
        width: 100px;
        height: 100px;
        font-size: 3.5rem;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
